body {
 
  font-family: "Source Sans Pro", sans-serif;
  background: #24252a;

}
h1 {
	margin:0;
}
h3{
margin:0;

}

#map {
        width: 100%;
        height: 100vh;
        background-color: grey;
}

.dark {

  background: #24252A;
   min-width: 100vh;
}

.rose {

  
   min-width: 100vh;
}

.flex {
   min-height: 100vh;

   align-items: center;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  justify-content: center;
}

.carousel.carousel-slider{
  height: auto;
  min-height: 100vh;
  bottom: 0;
}

.text-line{

	width: 40%;
	margin: auto;

}

.carousel {
  min-height: 100%;
}
#logo{

	font-size: 40px;
font-family: Roboto;
font-style: black;
color:#24252A;
margin-top: 20%;
 
}

h3:hover {
background-color: #ff0072;

}

#subtitle {

font-size: 20px;
margin-top: 5px;
font-style: italic;


}

#inline {

max-width: 30%;
border: solid 1px;
color:white;

}

#text{
	padding: 20px;
	margin-bottom: 10px;
	color: grey;
	font-family: Roboto;
	font-style: italic;
	font-size: 13px;

}



a.bttn {
	margin-top: 20px;
  color: #FF0072;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
}
a.bttn:hover {
  color: #FFF;
}
a.bttn:focus {
  color: #FFF;
}

a.bttn-dark {
  color: #644cad;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
}
a.bttn-dark:hover {
  color: #FFF;
}
a.bttn-dark:focus {
  color: #FFF;
}

.bttn {

  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 270px;
  font-weight: bold;
  padding: 14px 0px;
  border: 3px solid #FF0072;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}
.bttn:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #FF0072;
  z-index: -2;
}
.bttn:hover:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.bttn:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.bttn-dark {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 270px;
  font-weight: bold;
  padding: 14px 0px;
  border: 3px solid #644cad;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.bttn-dark:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #644cad;
  z-index: -1;
}
.bttn-dark:hover:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.bttn-dark:focus:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}


/*INPUT FORM*/

.input-dark {


  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 450px;
  font-weight: bold;
  padding: 14px 0px;
  border: 3px solid #644cad;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  z-index: 2;

}


input[type=text] {
  background: #24252A;
  color:#644cad;
  border: 3px solid #644cad !important;
 

}
input::placeholder {

color: #644cad;

}

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
   
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    
}

.anim-typewriter{
  animation: typewriter 2s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

/*Flex Alignment*/


